# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\serial\serial-port-program\serial-port-gui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
